section.form
  h2.form__title необходима консультация?
  p.form__text оставьте заявку или свяжитесь с нами в социальных сетях
  .form__container
    ul.form__icons
      li: a(href="#"): img(src="./assets/images/formicons/vk.svg", alt="vk")
      li: a(href="#"): img(src="./assets/images/formicons/telegram.svg", alt="telegram")
      li: a(href="#"): img(src="./assets/images/formicons/instagram.svg", alt="instagram")
      li: a(href="#"): img(src="./assets/images/formicons/whatsapp.svg", alt="whatsapp")
  .form__wrapper
    p.form__wrapper-text_top Для <span class="form__wrapper-text_orange">консультации</span> заполните форму!
    p.form__wrapper-text_bottom С Вами свяжутся в ближайшее время
    form.form__auth(id='form') 
      input.form__name(type="text" placeholder="Ваше имя" name="name")
      input.form__surname(type="text" placeholder="Ваш телефон" name="surname")
      button.form__action Отправить