extends ../layouts/default
block title
  include ../../components/title/title
block decor
  include ../../components/decor/decor
block work
  include ../../components/work/work
block workpath
  include ../../components/workpath/workpath
block form
  include ../../components/form/form
block video
  include ../../components/video/video
block gallery
  include ../../components/gallery/gallery   