section.workpath
  h2.workpath__title Почему Дымоход.ру?
  p.workpath__text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
  .workpath__container
    .workpath__inner
      .workpath__info
        img(src="./assets/images/workpath/page.svg", alt="")
        p.workpath__info-text_bold Большой гарантийный срок
        p.workpath__info-text Крепёж, стыковка элементов – <span class="workpath__info-text_year">10 лет</span>
        p.workpath__info-text Сквозная коррозия труб – <span class="workpath__info-text_year">5 лет</span>
        p.workpath__info-text Гидроизоляция – <span class="workpath__info-text_year">3 года<span>
      .workpath__info
        img(src="./assets/images/workpath/board.svg", alt="")
        p.workpath__info-text_bold Помощь в покупке агрегата 
        p.workpath__info-text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
    div(class="workpath__info workpath__info_top")
      img(src="./assets/images/workpath/comment.svg", alt="")
      p.workpath__info-text_bold Большой гарантийный срок
      p.workpath__info-text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
