section.gallery
  h2.gallery__title Фото выполненных работ
  p.gallery__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .gallery__photos
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/chs.jpg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/chs.jpg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/chs.jpg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/chs.jpg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/kingdom.jpg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/tired.png", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/chinese.jpeg", alt="sdf")
    .gallery__container
      img.gallery__stick_righttop(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftbottom(src="../assets/images/photo/stick.svg", alt="")
      img.gallery__stick_leftb(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__stick_rightt(src="../assets/images/photo/stickB.svg", alt="")
      img.gallery__photo(src="../../assets/images/photo/brain.webp", alt="sdf")