section.work
  h2.work__title Процесс выполнения монтажа
  .work__container
    .work__info
      p.work__text <span class="work__text_number">1</span> <span class="work__text_worlds">Рассчёт предварительной заявки</span>
      p.work__text <span class="work__text_number">2</span> <span class="work__text_worlds">Замер объекта нашим инженером</span>
      p.work__text <span class="work__text_number">3</span> <span class="work__text_worlds">Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы </span>
    .work__info
      p.work__text <span class="work__text_number">4</span> <span class="work__text_worlds">Изготовление Дымохода, покраска (если требуется) </span>
      p.work__text <span class="work__text_number">5</span> <span class="work__text_worlds">Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация </span>
      p.work__text <span class="work__text_number">6</span> <span class="work__text_worlds">Гарантийное обслуживание по соответствующем сроку </span>