%montserrat400 {
  font-family: 'Montserrat';
  font-weight: 400;
}
%montserrat500 {
  font-family: 'Montserrat';
  font-weight: 500;
}
%montserrat600 {
  font-family: 'Montserrat';
  font-weight: 600;
}
%montserrat700 {
  font-family: 'Montserrat';
  font-weight: 700;
}
%montserrat800 {
  font-family: 'Montserrat';
  font-weight: 800;
}
%lato400 {
  font-family: 'Lato';
  font-weight: 400;
}
%lato700 {
  font-family: 'Lato';
  font-weight: 700;
}
