section.decor 
  p.decor__text В <a class="decor__text_red" href="#">Дымоход.ру</a>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
  .decor__container
    .decor__info
      h2.decor__title Lorem ipsum dolor sit amet 
      h2.decor__title_red Lorem ipsum
      ul.decor__list
        li.decor__item 
          .decor__item_point
          .decor__item_worlds Доступные цены
        li.decor__item         
          .decor__item_point
          .decor__item_worlds Собственное производсвто дымоходов
        li.decor__item         
          .decor__item_point
          .decor__item_worlds Выполнение необходимых работ, связанных с установкой камина, печи, котла
        li.decor__item         
          .decor__item_point
          .decor__item_worlds  Гарантия (от трёх до десяти лет)
        li.decor__item         
          .decor__item_point
          .decor__item_worlds  Работаем чисто, аккуратно, убираем за собой, не сквернословим
        li.decor__item         
          .decor__item_point
          .decor__item_worlds  Только русские квалифицированные специалисты
        li.decor__item         
          .decor__item_point
          .decor__item_worlds Устанавливаем любые дымоходы всех производителей
    .decor__picture
      img.decor__picture_spot(src="./assets/images/decor/pipe.png", alt="Шахта")
      img.decor__picture_left(src="./assets/images/decor/points.svg", alt="точки")
      img.decor__picture_right(src="./assets/images/decor/points.svg", alt="точки")
      img.decor__picture_top(src="./assets/images/decor/arrow.svg", alt="стрелки")
      img.decor__picture_bottom(src="./assets/images/decor/arrow.svg", alt="стрелки")